@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
body{
    font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}
h2{
    margin: 0 !important;
}
.prices_container{
    padding:10px;
    border-bottom:1px solid #e5e5e5;
}
.prices_container mat-card{
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
   section img{
       margin-bottom: 5px;
   }
   .card-content{
       margin-bottom:0;
   }
   .prices_container button{
       line-height:25px;
   }
   mat-card-actions{
       padding: 0 0;
   }
   mat-card{
       padding:6px 16px 16px 16px;
   }
  }
