<section style="margin-top:10px">
    <div class="heading" fxLayout="column" fxLayoutAlign="center center">
        <h1>Add Vegetables</h1>
        <div style="height:2px;width:90%;background-color: darkgreen;"></div>
    </div>
</section>

<section style="margin-top:10px"> 
        <form>
            <div class="vege-form" fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <mat-label>Vegetable</mat-label>
                <input matInput placeholder="Food" value="">
            </mat-form-field>
        </div>
        </form>
</section>
