.vege-form{
    width:100%;
}
mat-form-field{
    width:90%;
    font-weight: 1000;
}
.heading h1{
    font-family: 'Pangolin', cursive;
    margin:0;
}
input[type=file]{
    visibility:hidden;
}
.image-vege{
    box-sizing:border-box;
    width:80%;
    height:auto;
    border-radius: 5px;
}
.sub-btn{
    position:sticky;
    width:100%;
    bottom:0;
    margin-top:40px;
}