<section style="margin-top:10px">
    <div class="heading" fxLayout="column" fxLayoutAlign="center center">
        <h1>Add Vegetables</h1>
        <div style="height:2px;width:90%;background-color: darkgreen;"></div>
    </div>
</section>

<section style="margin-top:10px"> 
        <form>
            <div class="vege-form" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <mat-label>Vegetable</mat-label>
                <input 
                matInput 
                placeholder="Food" 
                type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input 
                matInput 
                placeholder="Food" 
                type="number">
            </mat-form-field>
            <div style="width:90%">
                <button mat-raised-button type="button" color="primary" (click)="filePicker.click()" >Pick Image</button>
                <input 
                type="file"
                accept="image/png, image/jpeg, image/jpg" 
                (change)="openCropperDialog($event)"
                #filePicker>
            </div>
            <div style="width:90%">
            <img 
            [src]="imagePreview"
            width="100%"
            >
            </div>
            
            </div>
            
        </form>
</section>

